.Cont {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    max-width: 70%;
    display: inline;
    float: left;
    position: relative;
}
.Cont hr {
    opacity: 30%;
    padding-top: -100px;
}
.ContainerDark {
    width: 100%;
    max-width: 100%;
    padding: 0%;
    display: inline;
    float: left;
    position: relative;
    background-color: rgba(144, 152, 158, 0.185);
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
}

.CardRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 1.5rem;
    padding-top: 1rem;
}
.Card {
    height: 16rem;
    width: 12rem;
    transition: transform .1s, box-shadow .1s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.Card:hover {
    cursor: pointer;
    transform: scale(1.02) perspective(0px);
    box-shadow: 0 10px 10px rgba(78, 75, 75, 0.459);
}

.Flyout {
    width: 52rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 2rem;
}

.ListRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1rem;
}
.List {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.ListItemBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    gap: .33rem
}
.ListIcon {
    scale: 2.5;
    color: #617381
}


/* FONTS and TEXT */

.TitleSub {
    font-weight: 300;
    font-size: 2.265em;
    margin-left: -1px;
    letter-spacing: -1px;
    line-height: 1.0;
}
.Plain {
    font-weight: 100;
    font-size: 1.66em;
    line-height: 1.00;
}

.ListTitle {
    font-weight: 500;
    font-size: 2em;
    padding-left: -.5em;
}


.ListItem {
    font-weight: 100;
    font-size: 1.33em;
    line-height: .75;
}

.Title {
    font-weight: 300;
    font-size: 3.665em;
    margin-bottom: 1rem;
    letter-spacing: -1px;
    line-height: 1.333;
    
}

.Emphasize {
    font-weight: 600;
}